# Needed for python 3.7+
dist: bionic

language: python

cache: pip

python:
  - '3.6'
  - '3.7'
  - '3.8'

before_install:
  - pip install -U setuptools 
  - pip install -U pip 
  - pip install -U pytest 

install:
  - pip install 'urllib3<1.27,>=1.25.4'
  - pip install ansible-base jinja2 MarkupSafe pyparsing pycodestyle pytest-xdist pyyaml 'six>=1.12'
  - ansible-galaxy collection install ansible.netcommon 
  - ansible-galaxy collection install community.internal_test_tools

script:
  - pwd
  - dir=$(pwd)
  - mkdir -p ~/.ansible/collections/ansible_collections/pfsensible
  - cd ~/.ansible/collections/ansible_collections/pfsensible
  - mv $dir core
  - cd core
  - ansible-test sanity --requirements --python $TRAVIS_PYTHON_VERSION
  - ansible-test units --requirements --python $TRAVIS_PYTHON_VERSION
